<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#login">Log In</a>
  <a href="#create">Create New Blog</a>
  <a href="#about">About</a>
</div>

<div class="header">
  <h1>"Blog Title"</h1>
  </div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>"Heading"</h2>
      <h5>Date</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
    </div>

    <div class="btn-group">
  <button>Edit</button>
  <button>Delete</button>
  <button>Like</button>
   <button>Dislike</button>
</div>

    <div class="card">
      <h2>"Comments"</h2>
      <h5>Post comments here...</h5>
      <div class="fakeimg" style="height:200px;">Comment Box</div>
      </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me/Profile</h2>
      <div class="fakeimg" style="height:20px;">Profile Image</div>
      <p>Hobbies, Facts, More Info about me</p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Links here</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>