{{> navbar}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BLOG ME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> <br>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
      </ul>
    </div>
  </div>

  <div class="main">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search this blog">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</nav>


<div class="header">
  <h1>BLOG TITLE</h1>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>MY HEADING</h2>
      <h5>DATE: March 27, 2021</h5>
      <button id="upload_widget_opener">Add an Image</button>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
    </div>

    <div class="btn-group">
      <button>EDIT</button>
      <button type="button" class="btn btn-labeled btn-success">
        <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Success</button>

      <button>DELETE</button>
      <button type="button" class="btn btn-labeled btn-success">
        <span class="btn-label"><i class="glyphicon glyphicon-thumbs-up"></i></span>Thumbs
        Up</button>
      <button type="button" class="btn btn-labeled btn-danger">
        <span class="btn-label"><i class="glyphicon glyphicon-thumbs-down"></i></span>Thumbs
        Down</button>
    </div>

    <div class="card">
      <h2>COMMENTS</h2>
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>




    <div class="rightcolumn">
      <div class="card">
        <h2>ABOUT ME</h2>
        <div class="container mt-5 d-flex justify-content-center">
          <div class="card p-3">
            <div class="d-flex align-items-center">
              <div class="image"> <img
                  src="https://i.pinimg.com/originals/66/dc/16/66dc16737b1f9ac15e04ca88fabf0db0.jpg" class="rounded"
                  width="155"> </div>
              <div class="ml-3 w-100">
                <h4 class="mb-0 mt-0">Bruce Wayne</h4> <span>Super Hero by Night</span>
                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                  <div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">1</span>
                  </div>
                  <div class="d-flex flex-column"> <span class="followers">Followers</span> <span
                      class="number2">3</span> </div>
                  <div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3">7.2</span>
                  </div>
                </div>
                <div class="button mt-2 d-flex flex-row align-items-center"> <button
                    class="btn btn-sm btn-outline-primary w-100">Chat</button> <button
                    class="btn btn-sm btn-primary w-100 ml-2">Follow</button> </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="card">
        <h3>RECENT POSTS</h3>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-preview">
                <a href="post.html">
                  <h2 class="post-title">
                    How to be a 24/7 mom with no fail, trial....
                  </h2>
                  <h3 class="post-subtitle">
                    Between nursing, cooking, and keeping a happy face..
                  </h3>
                </a>
                <p class="post-meta">Posted by
                  <a href="#">UserMom</a>
                  on March 27, 20201
                </p>
              </div>
              <hr>
              <div class="post-preview">
                <a href="post.html">
                  <h2 class="post-title">
                    People think that being a dad is easy, but it's actually tougher than neuroscience....
                  </h2>
                </a>
                <p class="post-meta">Posted by
                  <a href="#">UserDad</a>
                  on March 26, 2021
                </p>
              </div>
              <hr>
              <div class="post-preview">
                <a href="post.html">
                  <h2 class="post-title">
                    To be or not to be...
                  </h2>
                  <h3 class="post-subtitle">
                    Twas the question I asked when I was born. Oh, the saga of being a child.
                  </h3>
                </a>
                <p class="post-meta">Posted by
                  <a href="#">UserChild</a>
                  on March 25, 2021
                </p>
              </div>
              <hr>
              <div class="post-preview">
                <a href="post.html">
                  <h2 class="post-title">
                    Failure is not an option
                  </h2>
                  <h3 class="post-subtitle">
                    Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                  </h3>
                </a>
                <p class="post-meta">Posted by
                  <a href="#">UserRandom</a>
                  on March 20, 2021
                </p>
              </div>
              <hr>
              <!-- Pager -->
              <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
              </div>
            </div>
          </div>
        </div>

        <hr>
      </div>
      <div class="card">
        <h3>Share on Social Media</h3>
        <div class="effect jaques">
          <div class="buttons">
            <a href="#" class="fb" title="Join us on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#" class="tw" title="Join us on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#" class="g-plus" title="Join us on Google+"><i class="fa fa-google-plus"
                aria-hidden="true"></i></a>
            <a href="#" class="insta" title="Join us on Instagram"><i class="fa fa-instagram"
                aria-hidden="true"></i></a>
            <a href="#" class="in" title="Join us on Linked In"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <h2>Thank you for visiting Blog Me</h2>
    </div>